[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = ">=1.11.0"
pylint = ">=2.3.0"
pydocstyle = ">=3.0.0"

[dev-packages]
pytest = ">=4.0.2"
pytest-mock = ">=1.10.4"
pytest-cov = ">=2.7.1"
apache-airflow = "==1.10.2"
# A bug in the airflow. Solution is https://github.com/puckel/docker-airflow/issues/395#issuecomment-511209282

[requires]
python_version = "3.6"
